.Header {
	margin-top: 0.5%;
 	background-color: #ff6600;
 	text-decoration-style: inherit;
}

.img {
	margin-top: 2%;
	border: 1px white solid;
	width: 18px; 
	padding-right: 4px;
	display: table-cell;
    vertical-align: inherit;   
}

.hnname {
	margin-right: 5px;
}

.span {
	margin-top: 8px;
}
